---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: 'v0.1.9'
  hooks:
    - id: ruff-format
    - id: ruff
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.8.0
  hooks:
  - id: mypy
    entry: env MYPYPATH=TheengsGateway mypy
    args: []
    additional_dependencies:
    - bleak>=0.19.0
    - bluetooth-adapters>=0.15.3; python_version>="3.9"
    - bluetooth-clocks<1.0
    - bluetooth-numbers>=1.0,<2.0
    - importlib-metadata
    - paho-mqtt>=1.6.1
    - TheengsDecoder>=1.5.0
