name: check

on:
  push:
    branches:
      - development
  pull_request:

jobs:
  pre-commit:
    strategy:
      fail-fast: false
      matrix:
        python:
          - "3.8"   # oldest Python supported by PSF
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"  # newest stable Python
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - name: Run pre-commit
        uses: pre-commit/action@v3.0.0
